html{
    height: 100%;
}
body{
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-image: linear-gradient(120deg, hsl(269, 85%, 43%) 0%, hsl(218, 97%, 57%) 100%);
}
#frame-root{
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: hsl(269, 100%, 90%);
    text-shadow: 0 0 5px hsl(266, 85%, 23%);
}